
.vs
*.[Cc]ache


# Build related
tools/**
!tools/packages.config

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets


# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


# Build results
[Bb]uild
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/


# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# StyleCop
StyleCopReport.xml

